* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: rgba(32,32,32,1.0);
  font-family: sans-serif;
  background: url('http://ak2.picdn.net/shutterstock/videos/3635612/thumb/1.jpg');
  background-size: cover;
}

html, body, #root {
  width: 100%;
  height: 100%;
}
